.navbar-brand{
    height:65px;
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    color:white;
    border:none;
    padding-top:5px;
    margin-bottom: 0;
    border-radius: 0;
    z-index: 1000;
}


.nav.navbar-nav.navbar-right{
    top:10px;
    left:87%;
    max-width:30%;
    max-height:30%;
    position:absolute;
    display: inline-block;

}

.btn{
    background-color:#0d77b6;
    color:white;
    border:none;
}

.btn:active{
    color:white;
    background-color:#154b6a;
}
.btn:hover{
    color:white;
    background-color:#1d6995;
}

#mainbtns{
    position:relative;
    right:5%;
}
/*Graph panel and delete button*/
.panel-heading {
    height:40px;
}
#del2{
    position:relative;
    top:-5px;
    left:0px;
    width:55px;
    font-size:12px;
    text-align:center;
}

/*This is for the tutorial window*/
.modal-header, h3 {
      background-color:#47a3da;
      color:white !important;
      text-align: center;
      font-size: 22px;
  }
.modal-header .close{
    top:6px;
    right:6px;
    position:relative;
    color:white !important;
    font-weight: 900;
    
    font-size:22px;
    

}

.modal-dialog{
    width:734px;
    height:600px;

    
}
.modal-body{
    width:734px;
    height:560px;
    
}
.item>img{
    width:800px;
    height:600px;
}
  /*.modal-footer {
      background-color: #f9f9f9;
  }*/

/*for carousel*/
 
        /*#####################
Additional Styles (required)
#####################*/
        #myCarousel {
            /*padding:1px;*/
            background: #389dd5;
        }

            #myCarousel .carousel-caption {
                /*top: auto;*/
                top: 440px;
                
                right: auto;
                bottom: 0px;
                left: 0;
                /*padding: 20px;*/
                padding: 0px;
                padding-top: 10px;
                padding-left: 25px;
                padding-right: 25px;
                background: rgba(56,157,213,1); /*color of stripe below*/
                font-size: 14px;
                text-align: left;
                height: 100px;
                width: 100%;
                color: #ffffff; /*#FFF*/
                text-shadow: none;
                


            }

                #myCarousel .carousel-caption h2 {
                    color: #ffffff; /*color of Headline in stripe below*/
                    margin-top: 0;
                    margin-bottom:2px;
                    font-size:15px;
                }

            #myCarousel .carousel-caption-only {
                top: 100px;
            }

        .carousel-control {
            color: #fff; /*color of Icon*/
            top: 44%; /*Position of control*/
            background: #389dd5;
            bottom: auto;
            padding-top: 8px;
            width: 36px;
            /*border-radius:50%;*/
            height: 36px;
            opacity: 1;
            z-index: 100;
        }

            .carousel-control.left, .carousel-control.right {
                background-image: none !important;
            }

            .carousel-control.right,
            .carousel-control .fa fa-chevron-right {
                left: auto;
                right: 19px;
                color:white;
                width:24px;
                height:43px;
                font-size:20px;
                font-weight: lighter;
                
            }
            
            .carousel-control.left,
            .carousel-control .fa fa-chevron-left {
                right: auto;
                left: 15px;
                color:white;
                width:24px;
                height:43px;
                font-size:20px;
                font-weight: lighter;
            }

        .cont {
            /*margin: 50px;*/
            width: 700px;
            height:600px;
        }

        .carousel-indicators {
            /*bottom: 100px;*/
            bottom: 55px;
        }

            .carousel-indicators li {
                background-color: #cccccc;
                border: solid 1px #ccc;
            }

            .carousel-indicators .active {
                background-color: #ffffff;
                border: solid 1px #ffffff;
            }


/* On small screens, set height to 'auto' for sidenav and grid */

/*/@media screen and (max-width: 768px) {
    .sidebar-nav {
        height: auto;
        padding: 15px;

    }
}

@media screen and (max-width: 55.1875em){

	.sidenav-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.sidenav-horizontal-top {
		top: -110px;

	}

}

@media screen and (max-height: 26.375em){

	.sidebar-nav {
		font-size: 90%;
		width: 190px;
	}

	.sidebar-nav {
		left: -190px;

	}

}
*/
